:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--very-light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  padding-right: 0.5rem;
}

a {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--blue);
}
.container {
  padding: 2rem;
  max-width: 700px;
  background-color: var(--white);
  margin: 3rem 0;
}
.none {
  display: none;
}

/* Head */
.head {
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.head__count {
  padding: 0.1rem 0.75rem;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  font-weight: 800;
}

.head__count:empty {
  display: none;
}

.head__right {
  cursor: pointer;
}

/* UserNotifications */
.notification {
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px auto 1fr;
}

.read {
  background-color: transparent;
}

.unread {
  background-color: var(--very-light-grayish-blue);

}
.notification__box {
  padding-left: 1rem;
  display: inline;
}

.notification__box--comment {
  border: 1px solid var(--light-grayish-blue-1);
  padding: 1rem;
  color: var(--dark-grayish-blue);
  grid-column: 2;
}

.notification__box--comment:hover {
 cursor: pointer;
 background-color: var(--light-grayish-blue-1)
}

.notification__box--comment:empty {
 display: none;
}
.avatar {
  width: 40px;
}
.notification__prop {
  color: var(--dark-grayish-blue);
  font-size: 16px;
}

.notification__prop--name:hover, .notification__prop--post:hover {
  cursor: pointer;
color: var(--blue);
}
.notification__prop--name {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 800;
  padding: 0;
  color: var(--very-dark-blue);
}

.notification__prop--post {
  font-weight: 800;
}
.notification__prop--when {
  color: var(--grayish-blue);
}

.head__button {
  cursor: pointer;
  background: none;
	color: var(--dark-grayish-blue);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.head__button:hover {
 color: var(--very-dark-blue);
} 

.post-image{
  align-self: flex-end;
  grid-column: 4;
  width: 50px;
  cursor: pointer;
}

.dot__unread {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: var(--red);
  display: inline-block;

}

.dot__read {
 display: none;
}


@media (max-width: 700px) {
  .container {
    padding: 0 1.5rem;
    margin: 0;
  }
}



